.neon-blue{
    color: #a0f1ff;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 
    0 0 50px #a0f1ff
    ;
}
body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.road-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 102cm;
}

.road-sign {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    border: 6px solid #d9534f;
}

.sign-icon {
    font-size: 80px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 40px;
    color: #d9534f;
}

p {
    font-size: 18px;
    margin-top: 10px;
    color: #555;
}
